<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrinho</title>
    <link rel="stylesheet" href="/stylesheets/carrinho.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg" />
  </head>
  <body>
    <!-- Partials do hamburguer menu e do header -->
    <%- include("./partials/header.ejs"); %> <%-
    include("./partials/hamburguer.ejs"); %>

    <div class="container-carrinho">
      <div class="produtos-carrinho">
        <div class="header-produtos">
          <ul class="header-detalhes">
            <li class="produto-header">Produto</li>
            <li class="quantidade-header">Qntd</li>
            <li class="preco-header">Preço</li>
            <li></li>
          </ul>
        </div>
        <div class="produtos">
          <% for(produto of produtos) { %>
          <div class="card-produto-carrinho" data-id=${prod.id}>
            <div class="container-img-desc">
              <a class="img-prod" href="/produto/<%=produto.id_produto%>">
                <img src="<%= produto.Imagem.caminho %>" alt="" />
              </a>
              <div class="descricao-produto">
                <a href="/produto/<%=produto.id_produto%>" class="descricao-produto">
                  <%=produto.nome%>
                </a>
              </div>
            </div>
            <div class="quantidade-prod" <%=produto.quantidade == 1 ? "unico" : ""%> >
              <span class="menos">-</span>
              <span class="num"><%=produto.quantidade%></span>
              <span class="mais">+</span>
            </div>
            <div class="preco-prod">
              <span>
                <%=Number(produto.preco).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %>
              </span>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="remover-prod"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
              />
            </svg>
          </div>
          <% } %>
        </div>
      </div>

      <!--<button class="btn-limpar-carrinho">Limpar Carrinho</button> -->

      <div class="detalhes-compra">
        <div class="info-compra">
          <h1>Resumo</h1>

          <div class="total-container">
            <div class="sub-total">
              <span>Sub-total</span>
              <span id="valor-subtotal">R$ 0,00</span>
            </div>

            <div class="frete">
              <span>Frete</span>
              <span id="opcao-frete"> -</span>
            </div>
            <form action="" class="form-cupom">
              <input
                class="cupom-texto"
                id=""
                type="text"
                name="cupom"
                placeholder="Cupom Desconto"
              />
              <button type="submit" class="cupom-button">APLICAR</button>
            </form>

            <div class="total">
              <span>Total</span>
              <span id="valor-total">R$ 0,00</span>
            </div>
          </div>
        </div>

        <button class="btn-finalizar-compra">FINALIZAR COMPRA</button>
      </div>
    </div>

    <!-- Partial footer -->
    <%- include("./partials/footer.ejs"); %>

    <script src="/javascripts/carrinho.js"></script>
  </body>
</html>
