<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionar produto</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg" />

    <style>
      h1 {
        margin-bottom: 24px;
        text-align: center;
      }
      .criar-produto-form {
        display: flex;
        flex-direction: column;

        gap: 24px;
        margin: 48px auto;
        margin-bottom: 96px;
        width: 60%;
        padding: 24px;
      }
      .criar-produto-form > * {
        display: flex;
        flex-direction: column;

      }
      label {
        margin-bottom: 6px;
      }
      input {
        padding: 5px 32px 5px 12px;

        font-size: 17px;
      }

      .form-descricao {
        min-height: 140px;
        height: 100%;
        resize: none;
      }

      .btn-criar {
        padding: 12px;
        max-width: 80px;
        background-color: rgb(0, 148, 0);
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        display: block;
        text-align: center;
      }
      .btn-criar:hover {
        background-color: rgb(0, 105, 0);
      }

      .div-btn {
        display: flex;
        justify-content: flex-start !important;
      }

      .dep {
        resize: none;
        padding: 10px 0;
        padding-left: 16px;
        padding-right: 64px;
        font-size: 16px;
        border-radius: 0.25rem;
        width: 222px;
        border: 1px solid rgba(97, 97, 97, 0.726);
        background-color: white;

        font-family: sofia sans;
        color: rgb(49, 49, 49);
      }
      .form-sub-departamento {
        display: none;
      }
    </style>
  </head>
  <body>
    <%-include("./partials/header.ejs") %> <%-
    include("./partials/hamburguer.ejs") %>

    
    <main>

      <form
        action="/produto/<%=produto.id%>?_method=PUT"
        method="POST"
        class="criar-produto-form"
        enctype="multipart/form-data"
      >
        <h1>Edição de Produto</h1>      
        <div class="form-nome">
          <label for="name">Nome:</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Insira o nome do produto"
            value="<%= produto.name %>"
            required
          />
        </div>
        <div class="form-preco">
          <label for="price">Preço:</label>
          <input
            type="text"
            id="price"
            name="price"
            placeholder="Insira o preco do produto"
            value="<%=produto.price%>"
            required
            oninvalid="this.setCustomValidity('Esse número não é válido !')"
          />
        </div>
        <div class="form-fabricante">
          <label for="fabricante">Fabricante:</label>
          <input
            type="text"
            id="fabricante"
            name="fabricante"
            placeholder="Insira o preco do produto"
            value="<%=produto.fabricante%>"
            required
          />
        </div>
        <div class="form-departamento">
          <label for="departamento">Departamento:</label>
          <select name="departamento" id="select-dep" class="dep"  data-dep="<%=produto.departamento%>" required>
            <option value="computador">Computador</option>
            <option value="hardware">Hardware</option>
            <option value="periferico">Periféricos</option>
            <option value="notebook">Notebooks</option>
            <option value="kit upgrade">Kit Upgrade</option>
            <option value="cadeira gamer">Cadeiras Gamer</option>
            <option value="monitor">Monitores</option>
            <option value="celular">Celulares</option>
            <option value="games">Games</option>
          </select>
        </div>
        <div class="form-sub-departamento" >
          <label for="departamento">Sub-Departamento:</label>
          <select
            name="sub-departamento"
            id="select-sub-dep"
            disabled
            class="dep"
            data-dep="<%= produto["sub-departamento"] %>"
          >

          </select>
        </div>
        <div class="form-descricao">
          <label for="description">Descrição:</label>
          <textarea
            name="description"
            class="form-descricao"
            cols="100"
            rows="10"
          ><%=produto.description%></textarea>
        </div>

        <div class="">
          <label for="imagens" class="form-label">Imagem:</label>
          <input
            type="file"
            id="image"
            name="imagens"
            class="form-input"
            accept="image/*"
            multiple
          />
        </div>


        <div class="div.btn">
          <button type="submit" class="btn-criar">SALVAR</button>
        </div>
      </form>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>

  <script>
    const depForm = document.querySelector("#select-dep");
    const subDepForm = document.querySelector("#select-sub-dep");
    const formSubDep = document.querySelector(".form-sub-departamento");

    function init() {
      const depProd = depForm.dataset.dep;
      console.log(depProd);
      const options = document.querySelectorAll("#select-dep option");
      for(let op of options) {
        if(op.value === depProd) {
          op.setAttribute("selected", "");
          console.log(op);
          break;
        }
      } 

      alteraDepartamento();
      
      const subDepProd = subDepForm.dataset.dep;
      const options2 = document.querySelectorAll("#select-sub-dep option")
      console.log(subDepProd)
      options2.forEach((op) => {
        if(op.value === subDepProd) {
          op.setAttribute("selected", "");
        }
      })
    }
    init();
    
    function alteraDepartamento() {
      console.log(depForm)
      switch (depForm.value) {
        case "computador": {
          formSubDep.style.display = "flex";
          subDepForm.removeAttribute("disabled")
          subDepForm.innerHTML =`
            <option value="pc gamer">Pc Gamer</option>
            <option value="pc escritorio">PC Escritorio</option>
            <option value="pc casual">PC Casual</option>
          `;
          break;
        }
        case "hardware": {
          formSubDep.style.display = "flex";
          console.log("ativou")
          subDepForm.removeAttribute("disabled")
          subDepForm.innerHTML = `
            <option value="processador">Processador</option>
            <option value="placa de video">Placa de Vídeo</option>
            <option value="placa mae">Placa Mãe</option>
            <option value="memoria">Memória</option>
            <option value="armazenamento">Armazenamento</option>
            <option value="cooler">Cooler</option>
          `;
          break;
        }
        case "periferico": {
          formSubDep.style.display = "flex";
          subDepForm.removeAttribute("disabled")
          subDepForm.innerHTML = `
            <option value="teclado">Teclado</option>
            <option value="mouse">Mouse</option>
            <option value="fone">Fone</option>
            <option value="headset">Headset</option>
            <option value="webcam">Webcam</option>
            <option value="kits perif">Kits Periferico</option>
          `;
          break;
        }
        case "notebook": {
          formSubDep.style.display = "flex";
          subDepForm.removeAttribute("disabled")
          subDepForm.innerHTML = `
            <option value="macbook">Macbook</option>
            <option value="not gamer">Notebook Gamer</option>
            <option value="not escritorio">Notebook Escritório</option>
          `;
          break;
        }
        default: {
          formSubDep.style.display = "none";
          subDepForm.setAttribute("disabled", "");
          subDepForm.innerHTML = `
          <option value="" selected>Escolha</option>
          `;
        }
      }
    }
    depForm.innerHTML
    depForm.addEventListener("change", alteraDepartamento);

    //Faz a validação do number
    const btnEnvia = document.querySelector(".btn-criar");

    btnEnvia.addEventListener("click", function (e) {
      const inputPreco = document.getElementById("price");
      const valor = Number(inputPreco.value);
      if(!valor || isNaN(valor)) {
        console.log(valor);
        inputPreco.reportValidity();
        e.preventDefault();
      }

    });
  </script>
</html>
