<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar produto</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg" />

    <style>
      h1 {
        margin-bottom: 24px;
        text-align: center;
      }
      .criar-produto-form {
        display: flex;
        flex-direction: column;

        gap: 24px;
        margin: 48px auto;
        margin-bottom: 96px;
        width: 60%;
        padding: 24px;
      }
      .criar-produto-form > * {
        display: flex;
        flex-direction: column;
      }
      label {
        margin-bottom: 6px;
      }
      input {
        padding: 5px 32px 5px 12px;

        font-size: 17px;
      }

      .form-descricao {
        min-height: 140px;
        height: 100%;
        resize: none;
      }

      .btn-criar {
        padding: 12px;
        max-width: 80px;
        background-color: rgb(0, 148, 0);
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        display: block;
        text-align: center;
      }
      .btn-criar:hover {
        background-color: rgb(0, 105, 0);
      }

      .div-btn {
        display: flex;
        justify-content: flex-start !important;
      }

      .dep {
        resize: none;
        padding: 10px 0;
        padding-left: 16px;
        padding-right: 64px;
        font-size: 16px;
        border-radius: 0.25rem;
        width: 222px;
        border: 1px solid rgba(97, 97, 97, 0.726);
        background-color: white;

        font-family: sofia sans;
        color: rgb(49, 49, 49);
      }
      .form-sub-departamento {
        display: none;
      }

      .errors-list {
        background-color: rgb(255, 214, 214);
        padding: 16px 0;
        border-radius: 5px;
        list-style: initial !important;
      }
      .errors-list li {
        color: rgb(168, 0, 0);
        list-style-type: disc;
        margin: 0 32px;
      }

      .prod_add {
        background-color: rgb(196, 255, 196);
        color: green;
        padding: 16px;
      }
    </style>
  </head>
  <body>
    <%-include("./partials/header.ejs") %> <%-
    include("./partials/hamburguer.ejs") %> <% if(typeof(sucess)!= "undefined")
    {%>
    <h1 class="prod_add">Produto Editado com sucesso</h1>
    <%}%>
    <main>
      <% if(typeof errorsVal !== "undefined") { %>
      <ul class="errors-list">
        <% for(let error in errorsVal) { %>
        <li class="error"><%=errorsVal[error].msg%></li>
        <% } %>
      </ul>
      <% } %>

      <form
        action="/produto/<%=produto.id_produto%>?_method=PUT"
        method="POST"
        class="criar-produto-form"
        enctype="multipart/form-data"
      >
        <h1>Edição de Produto</h1>
        <div class="form-nome">
          <label for="name">Nome:</label>
          <input
            type="text"
            id="name"
            name="nome"
            placeholder="Insira o nome do produto"
            value="<%= produto.nome %>"
            required
          />
        </div>
        <div class="form-preco">
          <label for="price">Preço:</label>
          <input
            type="text"
            id="price"
            name="preco"
            placeholder="Insira o preco do produto"
            value="<%=produto.preco%>"
            required
            oninvalid="this.setCustomValidity('Esse número não é válido !')"
          />
        </div>
        <div class="form-fabricante">
          <label for="fabricante">Fabricante:</label>
          <input
            type="text"
            id="fabricante"
            name="fabricante"
            placeholder="Insira o preco do produto"
            value="<%=produto.fabricante%>"
          />
        </div>
        <div class="form-departamento">
          <label for="departamento">Departamento:</label>
          <select
            name="id_departamento"
            id="select-dep"
            class="dep"
            data-dep="<%=produto.id_departamento%>"
            required
          >
            <option value="1">Computador</option>
            <option value="2">Hardware</option>
            <option value="3">Periféricos</option>
            <option value="4">Notebooks</option>
            <option value="5">Kit Upgrade</option>
            <option value="6">Cadeiras Gamer</option>
            <option value="7">Monitores</option>
            <option value="8">Celulares</option>
            <option value="9">Games</option>
          </select>
        </div>
        <div class="form-sub-departamento">
          <label for="departamento">Sub-Departamento:</label>
          <select
            name="id_sub_departamento"
            id="select-sub-dep"
            disabled
            class="dep"
            data-dep="<%= produto.id_sub_departamento%>"
          ></select>
        </div>
        <div class="form-descricao">
          <label for="description">Descrição:</label>
          <textarea
            name="descricao"
            class="form-descricao"
            cols="100"
            rows="10"
          >
<%=produto.descricao%></textarea
          >
        </div>

        <div class="">
          <label for="imagens" class="form-label">Imagem:</label>
          <input
            type="file"
            id="image"
            name="imagens"
            class="form-input"
            accept="image/*"
            multiple
          />
        </div>

        <div class="div.btn">
          <button type="submit" class="btn-criar">SALVAR</button>
        </div>
      </form>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>

  <script>
    const depForm = document.querySelector("#select-dep");
    const subDepForm = document.querySelector("#select-sub-dep");
    const formSubDep = document.querySelector(".form-sub-departamento");

    function init() {
      const depProd = depForm.dataset.dep;

      const options = document.querySelectorAll("#select-dep option");
      for (let op of options) {
        if (op.value === depProd) {
          op.setAttribute("selected", "");

          break;
        }
      }

      alteraDepartamento();

      const subDepProd = subDepForm.dataset.dep;
      const options2 = document.querySelectorAll("#select-sub-dep option");
      console.log(subDepProd);
      options2.forEach((op) => {
        if (op.value === subDepProd) {
          op.setAttribute("selected", "");
        }
      });
    }

    init();

    function alteraDepartamento() {
      switch (depForm.value) {
        case "1": {
          console.log("ativou");
          formSubDep.style.display = "flex";
          subDepForm.removeAttribute("disabled");
          subDepForm.innerHTML = `
            <option value="1">Pc Gamer</option>
            <option value="2">PC Escritorio</option>
            <option value="3">PC Casual</option>
          `;
          break;
        }
        case "2": {
          formSubDep.style.display = "flex";
          console.log("ativou");
          subDepForm.removeAttribute("disabled");
          subDepForm.innerHTML = `
            <option value="4">Processador</option>
            <option value="5">Placa de Vídeo</option>
            <option value="6">Placa Mãe</option>
            <option value="7">Memória</option>
            <option value="8">Armazenamento</option>
            <option value="9">Cooler</option>
          `;
          break;
        }
        case "3": {
          formSubDep.style.display = "flex";
          subDepForm.removeAttribute("disabled");
          subDepForm.innerHTML = `
            <option value="10">Teclado</option>
            <option value="11">Mouse</option>
            <option value="12">Fone</option>
            <option value="13">Headset</option>
            <option value="14">Webcam</option>
          `;
          break;
        }
        case "4": {
          formSubDep.style.display = "flex";
          subDepForm.removeAttribute("disabled");
          subDepForm.innerHTML = `
            <option value="16">Macbook</option>
            <option value="17">Notebook Gamer</option>
            <option value="18">Notebook Escritório</option>
          `;
          break;
        }
        default: {
          formSubDep.style.display = "none";
          subDepForm.setAttribute("disabled", "");
          subDepForm.innerHTML = `
          <option value="" selected>Escolha</option>
          `;
        }
      }
    }

    depForm.addEventListener("change", alteraDepartamento);

    //Faz a validação do number
    const btnEnvia = document.querySelector(".btn-criar");

    //Verifica o número no preço é válido.
    btnEnvia.addEventListener("click", function (e) {
      const inputPreco = document.getElementById("price");
      const valor = Number(inputPreco.value);
      if (!valor || isNaN(valor)) {
        console.log(valor);
        inputPreco.reportValidity();
        e.preventDefault();
      }
    });
    
    const prodAdd = document.querySelector(".prod_add");
    if (prodAdd) {
      setTimeout(() => {
        prodAdd.remove();
      }, 4000);
    }
  </script>
</html>
