<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Star | os melhores produtos de tecnologia do mercado</title>

    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/card-produto.css" />

    <link rel="icon" type="image/x-icon" href="/images/favicon.svg" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
  </head>
  <body>
    <!-- Partials do hamburguer menu e do header -->
    <%- include("./partials/header.ejs"); %> <%-
    include("./partials/hamburguer.ejs"); %>

    <div class="container-home">
      <section class="banners">
        <div class="slider-container">
          <div class="card">
            <a href="#"
              ><img src="/images/homeImages/1920x360 (1).jpg" alt=""
            /></a>
          </div>
          <div class="card">
            <a href="#"
              ><img src="/images/homeImages/1920x360 (4).jpg" alt=""
            /></a>
          </div>
          <div class="card">
            <a href="#"><img src="/images/homeImages/1920x360.jpg" alt="" /></a>
          </div>
        </div>
      </section>

      <main>
        <!-- Ofertas -->
        <div class="ofertas">
          <!-- Título -->
          <div class="titulo">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
            <h1>OFERTAS DO MOMENTO</h1>
          </div>
          <!-- Anuncios (include card produto)-->
          <div class="flex-anuncios">
            <%produtos.forEach((produto) => {%>
            <%-include("./partials/cardProduto", {produto}); %> <% }); %>
          </div>
        </div>

        <section class="banner-main">
          <a href="#"
            ><img src="/images/homeImages/AOC_Special_-_1450x140.png" alt=""
          /></a>
        </section>

        <!-- Mais Vendidos -->
        <div class="mais-vendidos">
          <div class="titulo">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"
              />
            </svg>

            <h1>MAIS VENDIDOS</h1>
          </div>
          <div class="flex-anuncios">
            <%produtos.forEach((produto) => {%> <%-
            include("./partials/cardProduto", {produto}); %> <% }); %>
          </div>
        </div>
        <!-- Departamentos -->
        <div class="departamentos">
          <div class="titulo">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
              />
            </svg>

            <h1>DEPARTAMENTOS POPULARES</h1>
          </div>
          <!-- Grid dos departamentos-->
          <div class="grid-departamentos">
            <div class="dep d1">
              <a href="/monteseupc" class="dep-flex">
                <img src="/images/homeImages/monte-seu-pc.png" alt="" />
                <h2>Monte Seu PC</h2>
              </a>
            </div>
            <div class="dep d2">
              <a href="" class="dep-flex">
                <img
                  src="/images/homeImages/612e705bfe1ad807fc2b94cc_600x600.jpeg"
                  alt=""
                />
                <h2>Periféricos</h2>
              </a>
            </div>

            <div class="dep d3">
              <a href="" class="dep-flex">
                <img
                  src="/images/homeImages/125188-1-Placa_de_video_NVIDIA_GeForce_RTX4090_24GB_PCI_E_Gigabyte_Gaming_OC_24G_GV_N4090GAMING_OC_24GD_125188.webp"
                  alt=""
                />
                <h2>Placas de Vídeo</h2>
              </a>
            </div>
            <div class="dep d4">
              <a href="" class="dep-flex">
                <img
                  src="/images/homeImages/pc-gamer-t-gamer-prodigy-amd-ryzen-5-5600g-16gb-ddr4-ssd-480gb_157091.jpg"
                  alt=""
                />
                <h2>Computadores Gamer</h2>
              </a>
            </div>
            <div class="dep d5">
              <a href="#" class="dep-flex">
                <img
                  src="/images/homeImages/71RJJqm5HsL._AC_SL1500_.jpg"
                  alt=""
                />
                <h2>Armazenamento</h2>
              </a>
            </div>
            <div class="dep d6">
              <a href="" class="dep-flex">
                <img src="/images/homeImages/ryzen.jpg" alt="" />
                <h2>Processadores</h2>
              </a>
            </div>
            <div class="dep d7">
              <a href="" class="dep-flex">
                <img
                  src="/images/homeImages/811-HoAXB0L._AC_SY679_.jpg"
                  alt=""
                />
                <h2>Cadeiras Gamer</h2>
              </a>
            </div>
            <div class="dep d8">
              <a href="" class="dep-flex">
                <img
                  src="/images/homeImages/485d441ffdc7a807f61a376e53fa9769.webp"
                  alt=""
                />
                <h2>Notebooks</h2>
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- Partial footer -->
    <%- include("./partials/footer.ejs"); %>

    <!-- Scripts do slick slider-->
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"
    ></script>

    <script>
      $(window).on("load", function () {
        $(".slider-container").slick({
          infinite: true,
          autoplay: true,
          autoplaySpeed: 8000,
          pauseOnHover: true,
          pauseOnFocus: true,
          speed: 900,
          dots: true,
          slidesToShow: 1,
          prevArrow:
            '<span class="prev_arrow"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="seta-volta"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" /></svg></span>',
          nextArrow:
            '<span class="next_arrow"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="seta-avanca"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" /></svg></span>',
          adaptiveHeight: false,
          arrow: true,
          cssEase: "cubic-bezier(0.39, 0.58, 0.15, 0.98)",
        });

      });
      
      $(".banners").show();
    </script>
  </body>
</html>
