<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Star | Os Melhores Produtos de Tecnologia do Mercado</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg" />
    <link rel="stylesheet" href="/stylesheets/card-produto.css" />
    <link rel="stylesheet" href="/stylesheets/produtos.css" />
  </head>
  <body>
    <%-include("./partials/header.ejs") %> <%-
    include("./partials/hamburguer.ejs") %>

    <main>
      <div class="filtros-produtos">
        <h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M18.75 12.75h1.5a.75.75 0 000-1.5h-1.5a.75.75 0 000 1.5zM12 6a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 6zM12 18a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 18zM3.75 6.75h1.5a.75.75 0 100-1.5h-1.5a.75.75 0 000 1.5zM5.25 18.75h-1.5a.75.75 0 010-1.5h1.5a.75.75 0 010 1.5zM3 12a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 013 12zM9 3.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zM12.75 12a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0zM9 15.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z"
            />
          </svg>

          Filtrar por :
        </h2>

        <!-- Filtro preco-->
        <details open class="filtro-preco">
          <summary>
            Preço
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </summary>
          <!-- Pega o maior e menor preço -->

          <form class="deslizador-preco" class="wrapper">
            <div class="slider">
              <div class="progress"></div>
            </div>
            <div class="range-input">
              <input
                type="range"
                class="range-min"
                min="0"
                max="10000"
                value="2500"
                step="100"
              />
              <input
                type="range"
                class="range-max"
                min="0"
                max="10000"
                value="7500"
                step="100"
              />
            </div>
            <div class="price-input">
              <div class="field">
                <span>Min</span>
                <input type="number" class="input-min" value="2500" />
              </div>
              <div class="separator">-</div>
              <div class="field">
                <span>Max</span>
                <input type="number" class="input-max" value="7500" />
              </div>
            </div>

            <button class="btn-aplicar">aplicar</button>
          </form>
        </details>

        <details class="fabricantes" open>
          <summary>
            Fabricantes
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </summary>
          <form action="opcoes-filtro">
            <% const setFabs = new Set(produtos.map((prod) => prod.fabricante))
            %> <% setFabs.forEach((fab) => { %>
            <label for="">
              <input type="checkbox" name="<%=fab%>" id="" />
              <%=fab%>
            </label>
            <% }); %>
          </form>
        </details>
      </div>

      <div class="header-filtros">
        <span>Mostrando <strong id="quantid-produtos"></strong> produtos</span>
        <div class="filtro-header f1">
          <span class="titulo-filtro">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 7.5L7.5 3m0 0L12 7.5M7.5 3v13.5m13.5 0L16.5 21m0 0L12 16.5m4.5 4.5V7.5"
              />
            </svg>

            Ordenar Por:
          </span>
          <form>
            <select name="" id="" class="select-ord">
              <option value="maisproc">Mais Procurados</option>
              <option value="menorp">Menor Preço</option>
              <option value="maiorp">Maior Preço</option>
            </select>
          </form>
        </div>
      </div>

      <div class="area-produtos">
        <!-- Área Anúncios -->
        <div class="flex-anuncios">
          <%produtos.forEach((produto) => { %> <%-
          include("./partials/cardProduto", {produto}); %> <% }); %>
        </div>
      </div>
    </main>

    <%- include("./partials/footer.ejs") %>

    <script src="/javascripts/produtos.js"></script>

    <script>
      const rangeInput = document.querySelectorAll(".range-input input"),
        priceInput = document.querySelectorAll(".price-input input"),
        progress = document.querySelector(".slider .progress");
      
      let priceGap = 1000;

      priceInput.forEach((input) => {
        input.addEventListener("input", (e) => {
          // getting two inputs value and parsing them to number
          let minVal = parseInt(priceInput[0].value),
            maxVal = parseInt(priceInput[1].value);

          if (maxVal - minVal >= priceGap && maxVal <= 10000) {
            if (e.target.className === "input-min") {
              //if active input is min input
              rangeInput[0].value = minVal;
              progress.style.left = (minVal / rangeInput[0].max) * 100 + "%";
            } else {
              rangeInput[1].value = maxVal;
              progress.style.right =
                100 - (maxVal / rangeInput[1].max) * 100 + "%";
            }
          }
        });
      });

      rangeInput.forEach((input) => {
        input.addEventListener("input", (e) => {
          // getting two inputs value and parsing them to number
          let minVal = parseInt(rangeInput[0].value),
            maxVal = parseInt(rangeInput[1].value);

          if (maxVal - minVal < priceGap) {
            if (e.target.className === "range-min") {
              //if active slider is min s
              rangeInput[0].value = maxVal - priceGap;
            } else {
              rangeInput[1].value = minVal + priceGap;
            }
          } else {
            priceInput[0].value = minVal;
            priceInput[1].value = maxVal;
            progress.style.left = (minVal / rangeInput[0].max) * 100 + "%";
            progress.style.right =
              100 - (maxVal / rangeInput[1].max) * 100 + "%";
          }
        });
      });
    </script>
  </body>
</html>
