<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/global.css" />
    <link rel="stylesheet" href="/stylesheets/produto-especifico.css" />
    
  </head>
  <body>
    <%- include("./partials/hamburguer.ejs") %> <%-
    include("./partials/header.ejs") %>

    <main class="container-principal">
      <div class="container-produto">
        <h1><%= produto.name %></h1>

        <div class="area-produto">
          <div class="slide-imagens">
            <button class="passa-imagem">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 12.75l7.5-7.5 7.5 7.5m-15 6l7.5-7.5 7.5 7.5"
                />
              </svg>
            </button>

            <div class="container-imagens">
              <% for(img of produto.imagens) { %>
              <img src="<%=img%>" alt="" class="ativa" />
              <% } %>
            </div>

            <button class="volta-imagem">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5"
                />
              </svg>
            </button>
          </div>

          <div class="caixa-img">
            <img class="img-ativa" src="" alt="" />
          </div>

          <div class="info-produto">
            <!-- <h2>{% PREÇO TOTAL %}</h2> -->
            <div class="opcoes-produto">
              <ul class="status-produto">
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z"
                    />
                  </svg>
                  Novo
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"
                    />
                  </svg>
                  12 meses de garantia
                </li>
              </ul>
            </div>
            <div class="caixa-preco">
              <h2>
                <% const preco = produto.price.toLocaleString('pt-br',{style:
                'currency', currency: 'BRL'}); %>
                <span id="preco-produto"><%= preco %></span><span>ou </span>
              </h2>
              <h4>
                <span id="parcela">12X</span> de
                <span id="preco-produto-parcelado"
                  ><%= (produto.price/12).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'});%></span
                >
              </h4>
            </div>
            <button class="btn-add-carrinho">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                />
              </svg>

              COMPRAR
            </button>
            <form method="POST" id="calculo-cep" class="form-calculo-cep">
              <label for="cep" class="shipping-calculation__form__label"
                >Informe o seu CEP:</label
              >
              <input
                type="tel"
                name="cep"
                id="cep"
                data-auto-id="76"
                class="texto-form-cep"
                placeholder="Cep de entrega"
                required=""
                autocomplete="off"
              />

              <button type="submit" class="submit_calculo-cep">Calcule</button>
            </form>
          </div>
        </div>
      </div>

      <section class="container-descricao">
        <h3>Descrição</h3>
        <div>
          <br />
          <span style="font-weight: bold">::Especificações Técnicas</span><br />
          <br />
          Marca: Bright<br />
          Modelo: 0543<br />
          <br />
          <span style="font-weight: bold">Itens Inclusos:</span><br />
          - 1 x Teclado<br />
          - 1 x Mouse<br />
          - 1 x Headset<br />
          <br />
          <span style="font-weight: bold">Headset</span><br />
          <br />
          - Haste Regulável<br />
          - Controle de Volume<br />
          - Microfone Integrado<br />
          - Qualidade de reprodução de som e captação de aúdio<br />
          - Possui 2 cabos P2: 1 para o fone e o outro para microfone<br />
          <br />
          <span style="font-weight: bold">Auto Falante</span><br />
          - Impedância: 32?<br />
          - Frequência de Resposta: 20Hz~20KHz<br />
          - Sensibilidade: 103db ± 2dB<br />
          - Potência Máxima: 20mW<br />
          <span style="font-weight: bold">Microfone</span>:<br />
          - Impedância: 2.2K?<br />
          - Sensibilidade: -58dB ± 2dB<br />
          - Frequência: 20Hz~20KHz<br />
          - Potência Máxima: 20mW<br />
          - Tensão padrão: 1.3V<br />
          - Comprimento do Cabo: 180cm<br />
          - Material do Cabo: PVC<br />
          <br />
          <br />
          <span style="font-weight: bold">Mouse</span><br />
          <br />
          - Conexão USB<br />
          - Luzes de Led (7 cores) efeito arco-íris<br />
          - Tecnologia óptica<br />
          - Posicionamento de precisão<br />
          - Instalação Plug and Play<br />
          - Sinal de transmissão mais ágil e estável<br />
          - Projetado para todos os tipos de Gamers<br />
          - Com botões extras de DPI, Page Front e Page Back<br />
          - Comprimento do cabo: 135cm<br />
          - Resolução: 800/1200/1600/2400 DPI<br />
          <br />
          <br />
          <span style="font-weight: bold">Teclado</span><br />
          <br />
          - Conexão USB<br />
          - Teclas retroiluminadas (7 cores) efeito arco-iris<br />
          - Produto altamente resistente<br />
          - Padrão ABNT2 - com teclas "ç" e "Alt Gr" <br />
          - Para ativar as luzes do teclado, pressione a tecla ScrLk (Scroll
          Lock)<br />
          - 105 Teclas retroiluminadas<br />
          - Voltagem: 5V | Corrente: 100mA<br />
          - Compatível com Windows 7/8/10<br />
          - Quantas vezes cada tecla pode ser usada: 3 milhões de vezes<br />
          - Pressão de tecla: 2,2 ± 0,5 mm<br />
          - Pressão de teclado: 50g<br />
          - Comprimento do cabo: 135cm<br />
          - Material: Plástico resistente<br />
          <br />
        </div>
      </section>
    </main>

    <%- include("./partials/footer.ejs") %>
    
    <script src="/javascripts/global.js"></script>
    <script src="/javascripts/produto-especifico.js"></script>
  </body>
</html>
